# Move Build Output
build/

# Move coverage and tracing information
.trace
*.mvcov

# macOS
.DS_Store

# keypair
keypair*

# draw.io
*.drawio.bkp*

# sui key
*.key

# sui log
sui.log.*

# target
target/